{% extends 'shop/basic.html' %}

{% block title %}About US{%endblock%}
{% block about%}active {%endblock%}
{%block css%}
{%endblock%}
{% block body %}
<main role="main">

  <!-- Main jumbotron for a primary marketing message or call to action -->
  <div class="jumbotron">
    <div class="container">
      <h1 class="display-3">Hello, peeps!</h1>
      <p>We TEAM SNIPER started <b><i>streambay.net</i></b> keeping in mind to help people save some money in the difficult time of this pandemic, as people spend a big fraction of their income in buying these online premium accounts.
        From now onwards, without worrying about the big price tag, you can start enjoying your favourite TV shows and movies for a fraction of amount you were paying earlier and get yourself a stable premium account with the support from our team for free. 
        <br>

        Along the way, till now we were selling on telegram and served <b>500+ happy customers</b> on telegram (about<b> 11000+
        accounts</b> in bulk orders), now we are here for you guys with a trusted and user-friendly website.</p>
      <!-- <p><a class="btn btn-primary btn-lg" href="#" role="button">Learn more »</a></p> -->
    </div>
  </div>

  <div class="container">
    <!-- Example row of columns -->
    <div class="row">
      <div class="col-md-3">
        <h2>Shop</h2>
        <p>We provide you with premium accounts for less than half of price charged by sites providing these services.
          So, lets start this journey of entertainment without paying a hefty sum for it.  </p>
        <p><a class="btn btn-secondary" href="/shop/home" role="button">Buy Now »</a></p>
      </div>
      <div class="col-md-4">
        <h2>Bulk Orders</h2>
        <p>For bulk orders of any premium account, you can contact us on telegram. We beleive in providing people with the premium accounts for a bit of original price. So, whoever wishes to do the same and join us in this journey. We are here for you, taking bulk orders. </p>
        <p><a class="btn btn-secondary" href="https://t.me/sniperz_bot" target="_blank" role="button">Contact on Telegram »</a></p>
      </div>
      <div class="col-md-5">
        <h2>Password Reset/Replacement</h2>
        <p>If you forgot the password or not able to login to the premium account provided by us. Then we are here to provide you with our support team. GO ahead, fill in the details of the account and we will reset the password for you or replace the account for you. So you can relax without any need to worry and enjoy our services!!</p>
        <p><a class="btn btn-secondary" href="/shop/replacement" target="_blank" role="button">Get Help »</a></p>

      </div>
    </div>

    <hr>

  </div> <!-- /container -->

</main>


{%endblock%}