Hey {{name}},

This is confirmation mail for your order.


Your Payment has been confirmed for Order Id: {{params_dict.razorpay_order_id}}.
Amount = ₹ {{amount}}
Transaction Id = {{params_dict.razorpay_payment_id}}
Thank you for purchasing with us.
You will receive the account details in different e-mail shortly.

Keep buying with us,
Team Sniper.
(StreamBay.net)

---------------------------------------------------------
Please note: This is a system generated e-mail. Please do not reply to this message.