{% extends 'shop/basic.html' %}

{% block title %}Privacy Policy{%endblock%}
{%block body%}
<div class="container mt-4" style="text-align: justify;">
    <h2>Privacy Policy</h2>
    <hr>
    <h6>SECTION 1 - WHAT DO WE DO WITH YOUR INFORMATION?</h6>
    <p>When you purchase something from our website, as part of the buying and selling process, we only collect email address.<br>
        We use your Personal Information for providing and improving the Service and when you browse our website (streambay.net), we also automatically receive your computer’s internet protocol (IP) address in order to provide us with information that helps us learn about your browser and operating system.<br>
         
         Email marketing: With your permission, we may send you emails about our website, new offers and other updates.<br>
    </p>

    <h6>SECTION 2 - CONSENT</h6>
    <p>How do you get my consent?<br>
        When you provide us with personal information to complete a transaction, verify your credit card, place an order, arrange for a delivery or replacement of a purchase, we imply that you consent to our collecting it and using it for that specific reason only.<br>
        
        How do I withdraw my consent?<br>
         
         
        If after you opt-in, you change your mind, you may withdraw your consent for us to contact you, for the continued collection, use or disclosure of your information at any time, just by mailing us at streambay0@gmail.com . <br>
        </p>

    <h6>SECTION 3 - DISCLOSURE</h6>
    <p>We may disclose your personal information if we are required by law to do so or if you violate our Terms of Service.<br></p>

    <h6>SECTION 4 - PAYMENT</h6>
    <p>We use Razorpay for processing payments. We/Razorpay do not store your card data on their servers. The data is encrypted through the Payment Card Industry Data Security Standard (PCI-DSS) when processing payment. Your purchase transaction data is only used as long as is necessary to complete your purchase transaction. After that is complete, your purchase transaction information is not saved.<br>
 
 
        Our payment gateway adheres to the standards set by PCI-DSS as managed by the PCI Security Standards Council, which is a joint effort of brands like Visa, MasterCard, American Express and Discover.<br>
         
         
        PCI-DSS requirements help ensure the secure handling of credit card information by our store and its service providers.<br>
         
         
        For more insight, you may also want to read terms and conditions of razorpay on<a href="https://razorpay.com" target="blank"> https://razorpay.com</a><br>
        </p>

    <h6>SECTION 5 - THIRD-PARTY SERVICES</h6>
    <p>In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.<br>
 
 
        However, certain third-party service providers, such as payment gateways and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your purchase-related transactions.
         <br>
         
        For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.<br>
         
         
        In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.<br>
         
         
        Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.<br>
        
         Links: Our service may contain links to other websites that are not operated by us. If you click on a third party link, you will be directed to that third party’s website. We strongly advise you to review the Privacy Policy of every site you visit.
        We have no control over, and assume no responsibility for the content, privacy policies or practices of any third party websites or services.<br>
        </p>

    <h6>SECTION 6 - SECURITY</h6>
    <p>To protect your personal information, we take reasonable precautions and follow industry best practices to make sure it is not inappropriately lost, misused, accessed, disclosed, altered or destroyed.<br></p>

    <h6>SECTION 7 - AGE OF CONSENT</h6>
    <p> By using this website, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this website.</p><br>

    <h6>SECTION 8 - CHANGES TO THIS PRIVACY POLICY</h6>
    <p>We reserve the right to modify this privacy policy at any time, so please review it frequently. Changes and clarifications will take effect immediately upon their posting on the website. If we make material changes to this policy, we will notify you here that it has been updated, so that you are aware of what information we collect, how we use it, and under what circumstances, if any, we use and/or disclose it.<br></p>

    <h6>QUESTIONS AND CONTACT INFORMATION</h6>
    <p>If you would like to: access, correct, amend or delete any personal information we have about you, register a complaint, or simply want more information contact us at streambay0@gmail.com . <br></p>
    <hr>
    <p><b>Last Updated: September 1, 2020</b></p>
</div>

{%endblock%}