{% extends 'shop/basic.html' %}

{% block title %}Refund Policy{%endblock%}
{%block body%}
<div class="container mt-4" style="text-align: justify;">
    <!-- <div class="col-md-8"> -->
        <h2>Refund/Replacement Policy</h2><hr>
        <p>On our website (streambay.net),here we sell the shared or private logins of entertainment apps or websites.<br>

            All the accounts are sold with our domain email [Eg :- *******@domain.com] , we also give accounts on temporary mail addresses.<br>
            
            Any issues with the password of your purchased account , do not worry if it shows ‘Incorrect Password’, Contact us immediately on streambay0@gmail.com or on any social media account (like.Instagram or Twitter) .
            </p>
        <h5>Terms & Conditions [For All the accounts]</h5>
        <p>You can Change Password of Netflix account but cannot change its Email address.
            Change Password only using Firefox Focus or Duck Duck go app or in Chrome incognito window, else ask us for Password Reset link.<br>
            
            And for any other accounts you may ask first before changing their passwords on your social media accounts (like.Instagram or Twitter) or mail us to confirm at streambay0@gmail.com .<br>
            
            DO NOT ask us to Change the email id of which we don’t have access to like yours or your friends Gmail , Yahoo accounts.<br>
            
            Customers will not receive Replacement / Refund , If Additional email id is added to the account.<br>
            </p>
        <h5>Replacement Policy </h5>
        <p>Replacement will be given within 12 hours if eligible , DO NOT ask “When will I get replacement?” repeatedly.<br>

            After verifying the account and checking the cause of account failure ,we will try to provide the replacement as soon as possible but within 12 hours only .<br>
            
            If you have changed the email of the account ,(which is the act of violation of our terms),in such cases no replacement will be provided<br>
            </p>
        <h5>Refund Policy</h5>
        <p>Refunds will be given when we will be unable to provide Replacement on time.<br>

            Refunds will be credited back to your Source Account. Refunds take time to process depending on which payment method is used.<br>
            
            Refunds are given on the basis of Number Of Days account used with respect to Warranty Days.<br>
            
            And again, if you have changed the email of the account ,(which is the act of violation of our terms),in such case no refund will be provided.<br>
            
            Refund will be provided (if eligible) on the basis of this formula;
             (Buying Price ÷ Warranty Hours/Days) x Number of Days used =<b> Total Amount </b>.
            </p>
            <hr>
        <h6>Last Updated: September 1, 2020</h6>
    <!-- </div> -->
</div>

{%endblock%}