{% extends 'shop/basic.html' %}

{% block title %}Tracker{%endblock%}

{% block tracker%}active {%endblock%}

{% block body %}
<div class="container mt-5">
    <div class="row">
        <div class="col-4 col-md-3"></div>
        <div class="col-8 col-md-6">
            <h5>Enter your Order Id and Email address to track your order</h5>
            <hr>
            <form method="post" action="#" id="trackerForm">{% csrf_token %}
                <div class="form-row">
                    <div class="form-group col-md-6">
                        <label for="inputname">Order Id</label>
                        <input type="text" class="form-control" id="orderId" name="orderId" placeholder="Order Id">
                    </div>
                    <div class="form-group col-md-6">
                        <label for="inputEmail4">Email</label>
                        <input type="email" class="form-control" id="email" name="email" placeholder="Email">
                    </div>
                    <button type="submit" class="btn btn-secondary btn-block">Track Order</button>
                </div>
                <hr>
                <br>
                <!-- <div class="col my-4"> -->
                <h5>Your Order Status</h5>
                <div class="my-4">
                    <ul class="list-group" id="items">
                        Enter your order Id and Email and click Track Order to know status of your order!
                    </ul>
                </div>
                <hr><br>
                <h5>Your Order Details</h5>
                <div class="my-4">
                    <ul class="list-group" id="citems">
                        Enter your order Id and Email and click Track Order to find details about your order!
                    </ul>
                </div>
                <hr>
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    $('#trackerForm').submit(function (event) {

        $('#items').empty();
        var formData = {
            'orderId': $('input[name=orderId]').val(),
            'email': $('input[name=email]').val(),
            'csrfmiddlewaretoken': $('input[name=csrfmiddlewaretoken]').val()

        };
        console.log(orderId);
        $.ajax({
            type: 'POST',
            url: '/shop/tracker/',
            data: formData,
            encode: true
        })


            .done(function (data) {
                $('#citems').empty();
                console.log(data)
                data = JSON.parse(data);

                if (data['status'] == 'success') {
                    updates = data['updates'];

                    for (i = 0; i < updates.length; i++) {
                        let text = updates[i]['text'];
                        let time = updates[i]['time'];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${text}
                    <span class="badge badge-secondary badge-pill">${time}</span>
                </li>`
                        $('#items').append(mystr);

                    }

                    // Fill in the order details
                    cart = JSON.parse(data['itemsJson']);
                    console.log(cart);
                    for (item in cart) {
                        let name = cart[item][1];
                        let qty = cart[item][0];
                        mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    ${name}
                    <span class="badge badge-secondary badge-pill">${qty}</span>
                </li>`
                        $('#citems').append(mystr);
                    }


                } else {
                    mystr = `<li class="list-group-item d-flex justify-content-between align-items-center">
                    Sorry, We are not able to fetch this order id and email. Make sure to type correct order Id and email</li>`
                    $('#items').append(mystr);
                    $('#citems').append(mystr);


                }



            });

        event.preventDefault();

    });

    if (localStorage.getItem('cart') == null) {
        var cart = {};
    } else {
        cart = JSON.parse(localStorage.getItem('cart'));

    }
</script>
{% endblock %}